{% if page.collection == "publications" and page.citation_authors %}
  <meta name="citation_title" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
  {% for citation_author in page.citation_authors %}
    <meta name="citation_author" content="{{ citation_author | escape_once }}">
  {% endfor %}
  {% if page.date %}
    <meta name="citation_publication_date" content="{{ page.date | date: "%Y/%m/%d" }}">
  {% endif %}
  {% if page.paperurl %}
    {% if page.paperurl contains "://" %}
      {% assign citation_pdf_url = page.paperurl %}
    {% else %}
      {% assign citation_pdf_url = page.paperurl | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
    <meta name="citation_pdf_url" content="{{ citation_pdf_url }}">
  {% endif %}
  {% if page.arxiv_id %}
    <meta name="citation_arxiv_id" content="{{ page.arxiv_id }}">
    <meta name="citation_technical_report_institution" content="arXiv">
    <meta name="citation_technical_report_number" content="{{ page.arxiv_id }}">
  {% endif %}
  {% if page.citation_abstract %}
    <meta name="citation_abstract" content="{{ page.citation_abstract | strip_newlines | escape_once }}">
  {% endif %}
{% endif %}
